In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
from datetime import datetime

In [3]:
now = datetime.now()

start = datetime(now.year-10, now.month, now.day)
end = now
ticker = 'AAPL'
df = yf.download(ticker, start, end)
df

C:\Users\user\AppData\Local\Temp\ipykernel_18976\3729526159.py:6: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start, end)
[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2016-02-05   21.313618   21.971026   21.238811   21.880349  185672400
2016-02-08   21.538046   21.694462   21.091462   21.111863  216085600
2016-02-09   21.533499   21.748857   21.293206   21.374815  177324800
2016-02-10   21.370291   21.841811   21.331753   21.744334  169374400
2016-02-11   21.241068   21.472295   20.989439   21.261471  200298800
...                ...         ...         ...         ...        ...
2026-01-29  258.279999  259.649994  254.410004  258.000000   67253000
2026-01-30  259.480011  261.899994  252.179993  255.169998   92443400
2026-02-02  270.010010  270.489990  259.209991  260.029999   73913400
2026-02-03  269.480011  271.880005  267.609985  269.200012   64394700
2026-02-04  276.489990  278.950012  272.290009  272.290009   90458500

[2514 rows x 5 columns]